{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="delete-form">
        <form method="post">
            {% csrf_token %}
            <p class="delete-p">Are you sure you want to delete "{{ mealplan.name }}"?</p>
            {{ form.as_p }}
            <div>
            <button class="button">Delete</button>
            </div>
            <br></br>
            <div>
                <img src="https://cdn.discordapp.com/emojis/681689871214968852.gif" alt="crying capoo">
            </div>
        </form>
        </div>
    </main>
{% endblock content %}
