{% extends 'base.html' %}

{% block content %}
    <main class="recipe-detail">
        <div>
            <a href="{% url 'mp_edit' meal_plan.id %}">Edit</a>
            <a href="{% url 'mp_delete' meal_plan.id %}">Delete</a>
        </div>
        <div>
            <h2>
                {{ meal_plan.name }}
            </h2>
            <p>Served on: {{ meal_plan.date }}</p>
            {% for recipe in meal_plan.recipes.all %}
            <div>
                <a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
