{% extends 'pagination.html' %}

{% block content %}
    <h3>
        <a href="{% url 'mp_new' %}">Create Meal Plan</a>
    </h3>
    <main class="recipe-grid">
        {% for meal in meals %}
        <div class="recipe-card">
            <h2 class="recipe-card-title">
            <a href="{% url 'mp_detail' meal.pk %}">{{ meal.name }}</a>
            </h2>
            <p class="recipe-card-date">{{ meal.date }}</p>
        </div>
        {% endfor %}
    </main>
{% endblock content %}
